<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedback.app" version="5.9.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Improv Workshop</name>
    <description>Improvisation Workshop Feedback App</description>
    <author email="alonharazi3@gmail.com">Feedback Team</author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#1e3a5f" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>
    
    <plugin name="cordova-plugin-camera" spec="^8.0.0" />
    <plugin name="cordova-plugin-file" spec="^8.1.2" />
    <plugin name="cordova-plugin-device" spec="^3.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^6.0.4" />
    <plugin name="com-darryncampbell-cordova-plugin-intent" spec="^2.2.0" />
</widget>
